export default {
    name: "update", // Название команды
    description: "Делает обновление", // Описание команды
    admin: true, // Команда доступна только администраторам
    arguments: [
        // ["аргумент", "описание", "необходим ли аргумент"],
        ["product_name", "Название продукта", true]
    ], // Аргументы команды

    execute: async interaction => {

    }
};