<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="assets/css/zetix.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Авторизация - 🦄 ZETA</title>
    <link rel="canonical" href="https://zetaproduct.ru/login.html">
    <meta property="og:url" content="https://zetaproduct.ru/login.html">
    <meta name="twitter:description" content="Zeta Product - команда, делающая модификации для игры Minecraft.
Мы разрабатываем Zeta Visuals - лучший визуальный мод за свои деньги.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://zetaproduct.ru/assets/img/zetafavicon.png">
    <meta property="og:type" content="website">
    <meta name="description" content="Zeta Product - команда, делающая модификации для игры Minecraft.
Мы разрабатываем Zeta Visuals - лучший визуальный мод за свои деньги.">
    <meta property="og:image" content="https://zetaproduct.ru/assets/img/zetafavicon.png">
    <meta name="twitter:title" content="ZETA PRODUCT">
    <link rel="icon" type="image/png" sizes="256x256" href="assets/img/zetafavicon.png">
    <link rel="icon" type="image/png" sizes="256x256" href="assets/img/zetafavicon.png" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json" crossorigin="use-credentials">
    <link rel="stylesheet" href="assets/css/styles.min.css">
</head>

<body>
    <div class="wrapper">
        <div class="content tally">
            <nav class="navbar navbar-expand-md bg-body py-3">
                <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="background: url(assets/img/zetafavicon.png);background-size: contain;"></span><span style="font-family: Montserrat;font-weight: 600;">ZETA 💚</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Навигация</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-3">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item"><a class="nav-link active" href="shop">Товары</a></li>
                            <li class="nav-item"><a class="nav-link" href="discord">Дискорд</a></li>
                            <li class="nav-item"><a class="nav-link" href="vk">ВК</a></li>
                        </ul><a href="/register" class="btn btn-primary btn-sm" type="button" style="margin: 2px;background: linear-gradient(-17deg, var(--bs-btn-border-color), #a714cc 100%), #710e73;">Зарегистрироваться</a><a href="/login" class="btn btn-primary btn-sm" type="button" style="margin: 2px;background: var(--bs-primary);">Войти</a>
                    </div>
                </div>
            </nav>
            <section class="center-wrapper position-relative py-4 py-xl-5">
                <div class="container center">
                    <div class="widdy75 row d-flex justify-content-center">
                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-5">
                                <div class="card-body d-flex flex-column align-items-center">
                                    <div class="bs-icon-lg bs-icon-circle bs-icon-primary bs-icon my-4" style="background: transparent;width: auto;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -64 640 640" width="1em" height="1em" fill="currentColor" style="color: rgb(255, 255, 255);">
                                            <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                            <path d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"></path>
                                        </svg><span style="margin: 0px 0px 0px 16px;font-size: 24px;">Авторизация</span></div>
                                    <form class="text-center" method="post">
                                        <div class="mb-3"><input class="form-control" type="text" id="login" name="login" placeholder="Логин" data-bs-theme="dark" style="background: var(--bs-secondary-bg);color: white;"></div>
                                        <div class="mb-3"><input class="form-control" type="password" id="password" name="password" placeholder="Пароль" data-bs-theme="dark" style="background: var(--bs-secondary-bg);color: white;"></div>
                                        <div class="mb-3"></div>
                                        <div class="mb-3"></div>
                                        <div class="mb-3"><button onclick="captcha.overrideClick(event, LOGIN)" class="btn btn-primary d-block w-100" type="submit" style="background: var(--bs-btn-border-color);">Войти</button></div>
                                        <input class="form-check-input" type="checkbox" id="remember"><label class="form-check-label" for="remember" style="font-size: 16px;">&nbsp&nbsp Запомнить меня<br><br></label>
                                        <p class="text-muted">Забыли пароль?</p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="text-center py-4 footer">
            <div class="container">
                <div class="row row-cols-1 row-cols-lg-3">
                    <div class="col">
                        <p class="text-muted my-2">💖 сделано с любовью, Zeta.</p>
                    </div>
                    <div class="col">
                        <ul class="list-inline my-2">
                            <li class="list-inline-item me-4">
                                <div class="bs-icon-circle bs-icon-primary bs-icon" style="background: rgba(0,0,0,0);width: 32px;height: 32px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-32 0 512 512" width="1em" height="1em" fill="currentColor" style="width: 24px;height: 24px;">
                                        <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc. -->
                                        <path d="M31.4907 63.4907C0 94.9813 0 145.671 0 247.04V264.96C0 366.329 0 417.019 31.4907 448.509C62.9813 480 113.671 480 215.04 480H232.96C334.329 480 385.019 480 416.509 448.509C448 417.019 448 366.329 448 264.96V247.04C448 145.671 448 94.9813 416.509 63.4907C385.019 32 334.329 32 232.96 32H215.04C113.671 32 62.9813 32 31.4907 63.4907ZM75.6 168.267H126.747C128.427 253.76 166.133 289.973 196 297.44V168.267H244.16V242C273.653 238.827 304.64 205.227 315.093 168.267H363.253C359.313 187.435 351.46 205.583 340.186 221.579C328.913 237.574 314.461 251.071 297.733 261.227C316.41 270.499 332.907 283.63 346.132 299.751C359.357 315.873 369.01 334.618 374.453 354.747H321.44C316.555 337.262 306.614 321.61 292.865 309.754C279.117 297.899 262.173 290.368 244.16 288.107V354.747H238.373C136.267 354.747 78.0267 284.747 75.6 168.267Z"></path>
                                    </svg></div>
                            </li>
                            <li class="list-inline-item me-4">
                                <div class="bs-icon-circle bs-icon-primary bs-icon" style="background: rgba(0,0,0,0);width: 32px;height: 32px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-discord" style="width: 24px;height: 24px;">
                                        <path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"></path>
                                    </svg></div>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul class="list-inline my-2">
                            <li class="list-inline-item"><a class="link-secondary" href="/tos">Правила Использования</a></li>
                            <li class="list-inline-item"><a class="link-secondary" href="/eula">Пользовательское соглашение</a> <a class="link-secondary" href="dataprocessing" title="Обработка персональных данных">ОПД</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
    <script src="assets/js/captcha.js" defer></script>
</body>

</html>